<!DOCTYPE html>
<head>
    <title>zonHelper</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/all.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        {% if g.ss %}
        <a class="navbar-brand" href="{{ url_for('sess.run',sessionName = g.ss.name) }}">Session {{ g.ss.name }}</a>
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#add-entity-modal">Add Entity</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('zon.zon', sessionName = g.ss.name)}}">Zones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('sess.cap') }}">Capitalize</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Close Session</a>
                </li>
            </ul>
        </div>
        {% else %}
        <a class="navbar-brand" href="{{ url_for('index') }}">zonHelper</a>
        {% endif %}
        
    </nav>
    <!-- Modal -->
    <div class="modal fade" id="add-entity-modal" tabindex="-1" role="dialog" aria-labelledby="add-entity-modal" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Entity</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <form action="" method="POST" id="add-entity">
                <div class="modal-body mx-auto">
                    <div class="form-group row">
                        <label for="entity-name" class=" col-sm-2">Name: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="entity-name" name="entity-name" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="entity-type" class=" col-sm-2">Type: </label>
                        <div class="col-sm-10">
                            <select name="entity-type" id="entity-type">
                                <option value="s">Storage</option>
                                <option value="h">Host</option>
                            </select>
                        </div>
                    </div>
                    <div id="members" >    
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="button" class="btn btn-secondary" id="add-member" value="Add Member">
                    <input type="submit" class="btn btn-primary" value="Add Entity">
                </div>
            </form>
        </div>
        </div>
    </div>
    <br><br><br>
    {% block content %}{% endblock %}
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/add_member.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>