{% extends 'base.html' %}
{% block content %}
<div class="container mt-1">
    <form action="{{ url_for('sess.start') }}" method="POST">
        <div class="row">
            <h3 class="col">Type a session name: </h3>
        </div>
        <div class="form-group row">
            <div class="col-sm-8">
                <input class="form-control" type="text" name="session-name" id="session-name" placeholder="Session Name" required>
            </div>
            <div class="col-sm-4">
                <input type="submit" class="btn btn-primary" value="Start Session">
            </div>
        </div>
        
    </form>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}