{% extends 'base.html' %}
{% block content %}
<!-- Modal -->
<div class="modal fade" id="show-entity-script" tabindex="-1" role="dialog" aria-labelledby="show-entity-script-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="show-entity-script-label">Entity script</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <blockquote class="blockquote">
                <p id="script-entity-display" class="mb-0 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            </blockquote>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
<div class="container">
    <div class="row align-items-end">
        <div class="col">
            <h3>Saved entities: </h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>Stroages {{storages|length}} <a role="button" class="btn btn-light script-s-entity"><i class="fas fa-terminal"></i></a></h5>
            <input type="search" id="search-storage" class="form-control" placeholder="Entity Name"><br>
            {% for s in storages %}
            <div class="row storage">
                <div class="col">
                    <div class="list-group">
                        <div class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <a data-toggle="collapse" class="btn" href="#{{ s['name']}}" role="button" aria-expanded="false" aria-controls="{{ s['name'] }}">
                                    <h5>{{ s['name'] }}</h5>
                                </a>
                                <div class="btn-group" role="group" aria-label="edit">
                                    <a role="button" class="btn btn-light del" data-target="{{ s['name'] }}" data-member="" data-type="s"><i class="fas fa-trash-alt"></i></a>
                                    <a role="button" class="btn btn-light edi" data-target="{{ s['name'] }}" data-type="s"><i class="fas fa-edit"></i></a>
                                    <a role="button" class="btn btn-light script-entity" data-target="{{ s['name'] }}"><i class="fas fa-terminal"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse" id="{{ s['name'] }}">
                            {% for m in s['wwnMem'] %}
                            <div class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6>{{ m['name'] }}</h6>
                                    <div class="btn-group" role="group" aria-label="edit">
                                        <a role="button" class="btn btn-light del" data-target="{{ s['name'] }}" data-member="{{ m['name'] }}" data-type="s"><i class="fas fa-trash-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col">
            <h5>Hosts {{hosts|length}} <a role="button" class="btn btn-light script-h-entity"><i class="fas fa-terminal"></i></a></h5>
            <input type="search" id="search-host" class="form-control" placeholder="Entity Name"><br>
            {% for h in hosts %}
            <div class="row host">
                <div class="col">
                    <div class="list-group">
                        <div class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <a data-toggle="collapse" class="btn" href="#{{ h['name']}}" role="button" aria-expanded="false" aria-controls="{{ h['name'] }}">
                                    <h5>{{ h['name'] }}</h5>
                                </a>
                                <div class="btn-group" role="group" aria-label="edit">
                                    <a role="button" class="btn btn-light del" data-target="{{ h['name'] }}" data-member="" data-type="h"><i class="fas fa-trash-alt"></i></a>
                                    <a role="button" class="btn btn-light edi" data-target="{{ h['name'] }}" data-type="h"><i class="fas fa-edit"></i></a>
                                    <a role="button" class="btn btn-light script-entity" data-target="{{ h['name'] }}"><i class="fas fa-terminal"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse" id="{{ h['name'] }}">
                            {% for m in h['wwnMem'] %}
                            <div class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6>{{ m['name'] }}</h6>
                                    <div class="btn-group" role="group" aria-label="edit">
                                        <a role="button" class="btn btn-light del" data-target="{{ h['name'] }}" data-member="{{ m['name'] }}" data-type="h"><i class="fas fa-trash-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="edit-entity-modal" tabindex="-1" role="dialog" aria-labelledby="edit-entity-modal" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Entity</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <form action="" method="POST" id="edit-entity">
            <input type="hidden" id="old-name">
            <input type="hidden" id="entity-type-edit">
            <div class="modal-body mx-auto">
                <div class="form-group row">
                    <label for="entity-name-edit" class=" col-sm-2">Name: </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="entity-name-edit" name="entity-name-edit" required>
                    </div>
                </div>
                <div id="members" >    
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="button" class="btn btn-secondary" id="add-member-edit" value="Add Member">
                <input type="submit" class="btn btn-primary" value="Edit Entity">
            </div>
        </form>
    </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static',filename='js/del_member.js') }}"></script>
<script src="{{ url_for('static',filename='js/edit_member.js') }}"></script>
<script src="{{ url_for('static',filename='js/search.js') }}"></script>
{% endblock %}