{% extends 'base.html' %}
{% block content %}
<!-- Modal -->
<div class="modal fade" id="add-zone-modal" tabindex="-1" role="dialog" aria-labelledby="add-zone-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Zone</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="add-zone">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <select class="form-control" name="entityType" id="entityType">
                            <option value="s">Storage</option>
                            <option value="h" selected>Host</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" name="entityName" id="entityName">
                            <option value="0">---</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" name="memberName" id="memberName">
                            <option>---</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-outline-secondary add-zone-member"><i class="fas fa-plus"></i></button>
                    </div>
                </div>
                <div id="zone-members" class="mt-2">
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" value="Add">
            </div>
        </form>
      </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="add-crosszone-modal" tabindex="-1" role="dialog" aria-labelledby="add-crosszone-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Cross Zone</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="add-crosszone">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <select class="form-control" name="entityType" id="entityType-c">
                            <option value="s">Storage</option>
                            <option value="h" selected>Host</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" name="entityName" id="entityName-c">
                            <option value="0">---</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" name="memberName" id="memberName-c">
                            <option>---</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-outline-secondary add-zone-member-c"><i class="fas fa-plus"></i></button>
                    </div>
                </div>
                <div id="zone-members-c" class="mt-2">
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" value="Add">
            </div>
        </form>
      </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="show-zone-script" tabindex="-1" role="dialog" aria-labelledby="show-zone-script-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="show-zone-script-label">Zone script</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <blockquote class="blockquote">
                <p id="script-zone-display" class="mb-0 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            </blockquote>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
<div class="container">
    <div class="row align-items-end">
        <div class="col">
            <h3>Zones: {{zones|length}} <a role="button" class="btn btn-light script-zone-all"><i class="fas fa-terminal"></i></a></h3>
        </div>
    </div>
    <div class="row toolbox align-items-start mb-2">
        <div class="col">
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#add-zone-modal">Add Zone</button>
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#add-crosszone-modal">Cross Zone</button>
        </div>
        <div class="col">
            <input type="search" id="search-zone" class="form-control" placeholder="Zone Name">
        </div>
    </div>
    {% for z in zones %}
    <div class="row zone">
        <div class="col">
            <input type="hidden" class="zone-script" id="{{ z['index'] }}-script" value="{{ z['script'] }}">
            <div class="list-group">
                <div class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <a data-toggle="collapse" class="btn" href="#{{ z['name']}}" role="button" aria-expanded="false" aria-controls="{{ z['name'] }}">
                            <h5>{{ z['name'] }}</h5>
                        </a>
                        <div class="btn-group" role="group" aria-label="edit">
                            <a role="button" class="btn btn-light del-zone" data-target="{{ z['index'] }}"><i class="fas fa-trash-alt"></i></a>
                            <a role="button" class="btn btn-light script-zone" data-target="{{ z['index'] }}-script"><i class="fas fa-terminal"></i></a>
                        </div>
                    </div>
                </div>
                <div class="collapse" id="{{ z['name'] }}">
                    {% for m in z['members'] %}
                    <div class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h6>{{ m['alias'] }}</h6>
                            <h6>{{ m['wwn'] }}</h6>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static',filename='js/add_zone.js') }}"></script>
<script src="{{ url_for('static',filename='js/add_cross_zone.js') }}"></script>
<script src="{{ url_for('static',filename='js/search.js') }}"></script>
{% endblock %}